@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');
/* CSS reset */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 100vh;
  gap: 0.5rem;
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
/* Norris CSS */
:root {
  --c-primary: #dde1d2;
  --c-secondary: #b2c73a;
  --font-size: 6rem;
  --animation-time: 25ms;
}
a.norris {
  text-decoration: none;
  line-height: calc(var(--font-size));
  font-size: var(--font-size);
  overflow: hidden;
}
a.norris span {
  position: relative;
  color: transparent;
}
a.norris span::before,
a.norris span::after {
  position: absolute;
  left: 0;
  content: attr(data-char);
  color: var(--c-primary);
  transition: all ease-in-out calc(var(--animation-time) * 10);
}
a.norris span::before {
  transform: translateY(0);
  transition-delay: calc(var(--index) * var(--animation-time));
}
a.norris span::after {
  transform: translateY(var(--font-size));
  transition-delay: calc(var(--index) * var(--animation-time));
}
a.norris:hover {
  cursor: pointer;
  color: var(--c-secondary);
}
a.norris:hover span::before,
a.norris:hover span::after {
  color: var(--c-secondary);
}
a.norris:hover span::before {
  transform: translateY(calc(-1 * var(--font-size)));
}
a.norris:hover span::after {
  transform: translateY(0);
}