/*
The animation is Norris CSS, taking inspiration from the link in the footer of https://landonorris.com/ because i saw a video of Syntax, they not perform well, i found this solution that for me it is 100x better
Let me know what you think about :D

Anyway... the animation consists in split the <a> into span for each chars then hide the char and use the content of ::before and ::after to do the magic
So the js file prepare a span with the char as actribute and the index as propriety, we can populate the content with data-char and use the index for a incremental transition delay:
 transition-delay: calc(var(--index) * var(--animation-time));
*/


@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');
/* CSS reset */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 100vh;
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
/* Norris CSS */
:root {
  --c-primary: #dde1d2;
  --c-secondary: #b2c73a;
  --font-size: 6rem;
  --animation-time: 25ms;
}
a.norris {
  text-decoration: none;
  line-height: calc(var(--font-size));
  font-size: var(--font-size);
  overflow: hidden;
  line-height: var(font-size);
}
a.norris span {
  position: relative;
  color: transparent;
}
a.norris span::before,
a.norris span::after {
  position: absolute;
  left: 0;
  content: attr(data-char);
  color: var(--c-primary);
  transition: all ease-in-out calc(var(--animation-time) * 10);
  transition-delay: calc(var(--index) * var(--animation-time));
}
a.norris span::before {
  transform: translateY(0);
}
a.norris span::after {
  transform: translateY(var(--font-size));
}
a.norris:hover {
  cursor: pointer;
  color: var(--c-secondary);
}
a.norris:hover span::before,
a.norris:hover span::after {
  color: var(--c-secondary);
}
a.norris:hover span::before {
  opacity: 1;
}
a.norris:hover span::after {
  opacity: 0;
}

a.norris:hover span::before {
  transform: translateY(calc(-1 * var(--font-size)));
  opacity: 0;
}
a.norris:hover span::after {
  transform: translateY(0);
  opacity: 1;
}

.fixed {
  position: absolute;
  right:1rem;
  top: 1rem;
}